a.attachments-invoke {
    margin-top:5px;
    margin-bottom:4px;
}

.attachments-attachment {
    position:relative;
    overflow:hidden;
    zoom:1;
    padding:5px 0 25px;
    border-bottom:1px solid #e7e7e7;
}

.attachments-attachment:first-of-type {
    padding-top:0;
}

.attachments-attachment:last-of-type {
    border-bottom:0;
    margin-bottom:30px;
    padding-bottom:0;
}

.attachments-note {
    padding-bottom:8px;
}

.attachments-note:not(:empty) + .attachments-container > .attachments-attachment:first-of-type {
    margin-top:-20px;
}

.attachments-container {
    padding-bottom:34px;
}

.attachments-invoke-wrapper {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:36px;
    padding-top:12px;
    background:#fcfcfc;
    margin-bottom:-8px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    text-align:center;
    border-top:1px solid #dfdfdf;
}

.attachments-container .ui-sortable-helper {
    background:#F9F9F9;
}

.attachments-attachment-highlight {
    min-height:125px;
    background:#f1f1f1;
    border:1px solid #cecece;
    border-radius:2px;
}

.attachments-attachment .attachment-meta {
    /* Reset some WP defaults */
    bottom:auto;
    border:0;

    /* Our styles */
    position:absolute;
    right:0;
    top:0;
    margin-top:36px;
    width:225px;
    overflow:hidden;
    zoom:1;
    padding:5px;
    background:#fdfdfd;
    border:1px solid #DFDFDF;
    border:1px solid rgba(223,223,223,0.8);
    border-radius:2px;
}

.attachments-attachment:first-of-type .attachment-meta {
    margin-top:32px;
}

.attachments-attachment .attachment-meta .attachment-info {
    /* Reset some WP defaults */
    min-height:1px;
    margin-bottom:0;
    border-bottom:0;
    box-shadow:none;
    padding-bottom:0;
}

.attachments-attachment .attachment-meta .attachment-details {
    width:135px;
    float:right;
    margin:0;
    padding:0;
}

.attachments-attachment .attachment-meta .attachment-info .filename {
    white-space:nowrap;
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
}

.attachments-attachment .attachment-meta .attachment-thumbnail {
    width:80px;
    float:left;
}

.attachments-attachment .attachment-meta .attachment-thumbnail img {
    display:block;
    max-width:100%;
    height:auto !important;
    max-height:80px;
    border-radius:2px;
    margin:0 auto;
}

.attachments-attachment .attachment-meta .attachment-actions {
    width:130px;
    float:right;
}

.attachments-fields {
    margin-right:250px;
    margin-left:40px;
    padding-top:10px;
}

.attachments-fields .attachments-attachment-field {
    overflow:hidden;
    zoom:1;
    padding:8px 0;
}

.attachments-fields label {
    display:block;
    margin-bottom:3px;
}


/* Text field styling */
.attachments-attachment-field-text input {
    display:block;
    width:100%;
}

.attachments-attachment-field-textarea textarea {
    display:block;
    width:100%;
    height:150px;
    resize:vertical;
}

.attachments-handle {
    position:absolute;
    left:0;
    top:20px;
    opacity:0.5;
}

.attachments-attachment:first-of-type .attachments-handle {
    top:17px;
}

.attachments-handle img {
    display:block;
    cursor:pointer;
}